.bookcard{
background: rgba(61, 61, 61, 0.43);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
border: 1px solid rgba(61, 61, 61, 0.15);
width: 450px;
transition: .2s all ease;
cursor: pointer;
}
.bookcard:hover{
    transform: scale(1.03);
}
img{
    height: 300px;
}
@media screen and (max-width: 768px) {
  .bookcard {
    width: 250px;
  }
  }